h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  color:black;
}
i{
  
  color:darkred;
}
span{
  color:bisque;
  font-family:    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
div{
  padding: 5px;
}