ul{
  padding: 0px;
  
}
li{
   display: inline-block;
  color: white;
  margin: 20px;
  
}
a {
  display: inline-block;
  
}

li a:hover:not(.active){
  background-color: black;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/